h1 {
    color:#A4A400;
    background-color: #F0F0F0;
    font-family: Lucida, Helvetica, Arial,sans-serif;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
h2 {
    font-size: 22pt;
    color:#A4A400;
    background-color: #F0F0F0;
    font-family: Lucida, Helvetica, Arial,sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    text-align: left;
}
body {
    background-color:white;
    color:#404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;

}
a:link {
    color:#A4A400;
}