h1 {
    color:#A4A400;
    background-color: #F0F0F0;
    font-family: Lucida, Helvetica, Arial,sans-serif;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
h2 {
    font-size: 22pt;
    color:#A4A400;
    background-color: #F0F0F0;
    font-family: Lucida, Helvetica, Arial,sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    text-align: left;
}
body {
    background-image: url(./images/silverware.jpg);
    background-repeat: repeat;
    background-color:white;
    color:#404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;

}
div{
   margin-left: 50px;
   background-color:#FFFFA8;
   font-style: italic;
   text-align: left;
   
}
#Copyright {
    margin-left: auto;
    background-color:white;
    font-family: monospace;
    font-style:normal;
    text-align:right;
    display: inline-block;
}

a:link {
    color:#A4A400;
    text-decoration: underline;
}
ul{
    list-style-image: url(./images/pie_icon.gif);
}

