p {
    font-family: Times New Roman;
    color: red;
}

h2 {
    font-family: Times New Roman;
    font-size: 0.5cm;
    font-weight: 100;
    font-style: oblique;
    text-align: center;
    color: blue;
    background-color: black;
}