#outer {
    border: 2px dashed black;
    overflow: hidden;
    padding: 10px;
  }
  
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 5px;
    float: left;
  }
  .break{
      clear: left;
  }